<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Function Example</title>
</head>
<body>
    <h1 style="color: red;">This Is Function Example</h1>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Function Example</title>
</head>
<body>
    <h1 style="color: red;text-align: center;">This Is Function Example</h1>
    <p id="demo"></p>
    <script>
       var x= f1(5,5);
       document.getElementById("demo").innerHTML=x;
function f1(a,b){
return a*b;

    </script>
</body>
</html> -->