<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Practice</title>
</head>
<body>
    <h1 style="color: red; text-align: center;">This Is The Example Of Function</h1>
    <h2 style="color: red; text-align: center;">Function</h2>
    <p ></p>
</body>
</html> 
 
 
 <!-- <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
 </head>
 <body>
     <h1 style="color: red; text-align: center;">This Is The Example Of Function</h1>
     <p id="demo"></p>
     <script>
function f1(p1,p2){
    return Multiplication=p1*p2;
    //document.write(Multiplication);
}
document.getElementById("demo").innerHTML=f1(4,4);
     </script>
 </body>
 </html> -->